@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.unity--transation{
  background-color: #F8F9FA;
  height: 87px;
  display: grid;
  grid-template-columns: 1% 69% 30%;
  border-radius: 4px;
  margin:15px 15px 15px 30px;
  min-width: 255px;
}

.cor--transation{
  height: 87px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.cont--description--transation{
  display: flex;
  flex-direction: column;
  color: #212529;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  text-align: start;
  margin: 0;
  padding: 0px 0px 0px 20px;
}
.cont--description > span{
  color: #5B6166;
}

.cont--price{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  color: #212529;
  align-items:flex-start;
  padding: 15px 15px 0px 0px;
  margin: 0;
  justify-content: space-around;
}
.cont--price > p{
  margin: 0;
}

.btn--remove--transation{
  background: #E9ECEF url('/src/img/trash.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:10px;
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
  .btn--remove--transation:hover{
    background: #d2d4d6 url('/src/img/trash.png');
    background-repeat: no-repeat;
    background-position: center;
  }