@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


.cont--totalMoney{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
  min-width: 307px;
  height: 96px;
  border:solid;
  border-color: #E9ECEF;
  border-width: 1px;
  background-color: #E9ECEF;
  margin-left: 15px;
}

.cont--valorTotal{
  width: 220px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #212529;
  text-align: start;
  margin-left: 20px;
}
.cont--valorTotal > span{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #5B6166;
}


.cont--valor{
  display: flex;
  justify-content: flex-end;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #FD377E;
  margin-right: 20px;
}
.cont--valor > span{
  font-size: 16px;
  width: 80px;

}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .cont--totalMoney{
    width: 20vw ;
    min-width: 263px;
    margin: 10px 0px 0px 0px;

  }
}